@mixin media($size) {
  @media screen and (max-width: $size) { 
    @content; 
  }
}

@mixin font-size($px) {
  font-size: $px + px;
  font-size: #{$px / $base-font-size}rem;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content; 
  }
  :-moz-placeholder {
    @content; 
  }
  ::-moz-placeholder {
    @content; 
  }
  :-ms-input-placeholder {  
    @content; 
  }
}
