@mixin media($size) {
  @media screen and (max-width: $size) { 
    @content; 
  }
}

@function calculate-rem($px, $base: $base-font-size) {
  $rem: $px / $base;
  @return #{$rem}rem;
}

@mixin font-size($px) {
  font-size: $px + px;
  font-size: calculate-rem($px);
}