html {
  background-color: $base-background-colour;
  color: $base-colour;
  font: #{($base-font-size * 6.25) * 1%}/#{$base-line-height} $base-font-stack;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
           font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: $base-colour;
  text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
hr, 
ul, 
ol {
  margin-bottom: $base-margin-bottom;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  line-height: $base-margin-bottom;
}

h1 {
  @include font-size($base-font-size * 2);
}

h2 {
  @include font-size($base-font-size * 1.75);
}

h3 {
  @include font-size($base-font-size * 1.5);
}

h4 {
  @include font-size($base-font-size * 1.25);
}

h5,
h6 {
  @include font-size($base-font-size);
}

ul, 
ol {
  margin-left: $base-margin-bottom;
}

ul ul, 
ol ol {
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

blockquote {
  font-family: serif;
  padding-left: $base-margin-bottom;
}

em {
  font-style: italic;
}

hr {
  background-color: $base-colour;
  border: 0;
  color: $base-colour;
  height: 1px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
strong,
th {
  font-weight: bold;
}

table {
  width: 100%;
  th,
  td {
    padding: ($base-margin-bottom / 4);
    text-align: left;
  }
}
