html {
	background-color: $base-background-colour;
	color: $base-colour;
	font: #{($base-font-size * 6.25) * 1%}/#{$base-line-height} $base-font-stack;
}

a {
	color: $base-colour;
	text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol {
	margin-bottom: $base-margin-bottom;
}

ul, 
ol {
	margin-left: $base-margin-bottom;
}

ul ul, 
ol ol {
	margin-bottom: 0;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

blockquote {
	font-style: italic;
	padding-left: $base-margin-bottom;
}