* {
	border: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
					box-sizing: border-box;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: bold;
	text-align: left;
}

address, caption, cite, dfn, th, var {
	font-style: normal;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: bold;
}

q:before, q:after {
	content: '';
}