.alignleft {
  float: left;
}

img.alignleft {
  margin-right: $base-margin-bottom;
}

.alignright {
  float: right;
}

img.alignright {
  margin-left : $base-margin-bottom;
}

.aligncenter {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
}

img.aligncenter {
  margin-bottom: $base-margin-bottom;
}

.clearfix {
  &:before,
  &:after{
    content: '';
    display: table;
    line-height: 0;
  }
  &:after{
    clear: both;
  }
}