.block-preview img {
  width: 100%;
}

.editor-styles-wrapper {
  background-color: #ddd;
}

.acf-block-preview {
  --preview-scale: 0.8;
  overflow: hidden;
}
.acf-block-preview .section {
  zoom: var(--preview-scale);
}

.editor-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper {
  margin-bottom: 24px !important;
}

.interface-interface-skeleton__sidebar .interface-complementary-area,
.interface-interface-skeleton__sidebar .interface-complementary-area__fill {
  width: auto;
}

@media screen and (min-width: 1280px) {
  .interface-interface-skeleton__sidebar .interface-complementary-area,
  .interface-interface-skeleton__sidebar .interface-complementary-area__fill {
    width: 420px !important;
    max-width: 50vw;
  }
}