* {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
