/**
 * WordPress specific classes
 */

.alignleft {
  float: left;
}

img.alignleft {
  margin-right: $base-spacing-unit;
}

.alignright {
  float: right;
}

img.alignright {
  margin-left : $base-spacing-unit;
}

.aligncenter {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
}

img.aligncenter {
  margin-bottom: $base-spacing-unit;
}


/**
 * Clear fix for floats
 */
 
.clearfix {
  &:before,
  &:after{
    content: '';
    display: table;
    line-height: 0;
  }
  &:after{
    clear: both;
  }
}


/**
 * Accessibility
 */
 
.sr-only {
  display: none;
}
