/**
 * Base values
 */

$base-colour:            #444;
$base-background-colour: #fff;
$base-font-stack:        'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:         16;
$base-line-height:       1.5;
$base-margin-bottom:     ($base-font-size * $base-line-height) * 1px;


/**
 * Breakpoints
 */

$breakpoint-sd: 640px;
$breakpoint-md: 768px;
$breakpoint-ld: 1200px;

$breakpoints-list: (
  'ld' null,
  'md' '(min-width:' + ($breakpoint-sd + 1) + ') and (max-width:' + ($breakpoint-ld - 1) + ')',
  'sd' '(max-width:' + $breakpoint-sd + ')' 
);


/**
 * Scaffolding
 */

$gutter:       $base-margin-bottom;
$max-width:    1200px + ($gutter * 2);
$grid-columns: 12;


/**
 * Custom variables
 */
