/**
 * Base values
 */

$base-colour:            #444;
$base-background-colour: #fff;
$base-font-stack:        'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:         16;
$base-line-height:       1.5;
$base-spacing-unit:      ($base-font-size * $base-line-height) * 1px;


/**
 * Breakpoints
 */

$breakpoint-sd: 768px;
$breakpoint-md: 992px;
$breakpoint-ld: 1200px;

$breakpoints: (
  'ld' '(min-width:' + $breakpoint-ld + ')',
  'md' '(min-width:' + $breakpoint-sd + ') and (max-width:' + ($breakpoint-md - 1) + ')',
  'sd' '(max-width:' + ($breakpoint-sd - 1) + ')'
);


/**
 * Grid
 */

$grid-max-width:    1200px;
$grid-grid-columns: 12;
$grid-gutter:       $base-spacing-unit;


/**
 * Custom variables
 */
