// Sizing the image in the block preview pane

.block-preview {
	img {
		width: 100%;
	}
}

// Resizable sidebar in block editor

.interface-interface-skeleton__sidebar {

	display: none;

	// General styling

	.interface-complementary-area, .interface-complementary-area__fill {
		width:100% !important;
	}

	.sidebar-open & {
		display: block;
		width: 40%;
	}

	.ui-resizable-resizing{
		position: relative !important;
	}

	// Interface elements

	.ui-dialog .ui-resizable-n {
		height: 2px;
		top: 0;
	}

	.ui-dialog .ui-resizable-e {
		width: 2px;
		right: 0;
	}

	.ui-dialog .ui-resizable-s {
		height: 2px;
		bottom: 0;
	}

	.ui-dialog .ui-resizable-w {
		width: 2px;
		left: 0;
	}

	.ui-dialog .ui-resizable-se,
	.ui-dialog .ui-resizable-sw,
	.ui-dialog .ui-resizable-ne,
	.ui-dialog .ui-resizable-nw {
		width: 7px;
		height: 7px;
	}

	.ui-dialog .ui-resizable-se {
		right: 0;
		bottom: 0;
	}

	.ui-dialog .ui-resizable-sw {
		left: 0;
		bottom: 0;
	}

	.ui-dialog .ui-resizable-ne {
		right: 0;
		top: 0;
	}

	.ui-dialog .ui-resizable-nw {
		left: 0;
		top: 0;
	}

	.ui-draggable .ui-dialog-titlebar {
		cursor: move;
	}

	.ui-draggable-handle {
		-ms-touch-action: none;
		touch-action: none;
	}

	.ui-resizable {
		position: relative;
	}

	.ui-resizable-handle {
		position: absolute;
		font-size: 0.1px;
		display: block;
		-ms-touch-action: none;
		touch-action: none;
	}

	.ui-resizable-disabled .ui-resizable-handle,
	.ui-resizable-autohide .ui-resizable-handle {
		display: none;
	}

	.ui-resizable-n {
		cursor: n-resize;
		height: 30px;
		width: 100%;
		top: -15px;
		left: 0;
	}

	.ui-resizable-s {
		cursor: s-resize;
		height: 30px;
		width: 100%;
		bottom: -15px;
		left: 0;
	}

	.ui-resizable-e {
		cursor: e-resize;
		width: 30px;
		right: -15px;
		top: 0;
		height: 100%;
	}

	.ui-resizable-w {
		cursor: w-resize;
		width: 30px;
		left: -15px;
		top: 0;
		height: 100%;
	}

	.ui-resizable-se {
		cursor: se-resize;
		width: 12px;
		height: 12px;
		right: 1px;
		bottom: 1px;
	}

	.ui-resizable-sw {
		cursor: sw-resize;
		width: 9px;
		height: 9px;
		left: -5px;
		bottom: -5px;
	}

	.ui-resizable-nw {
		cursor: nw-resize;
		width: 9px;
		height: 9px;
		left: -5px;
		top: -5px;
	}

	.ui-resizable-ne {
		cursor: ne-resize;
		width: 9px;
		height: 9px;
		right: -5px;
		top: -5px;
	}

}