body {
  color: $base-colour;
  font-family: $base-font-stack;
  @include font-size($base-font-size);
  line-height: $base-line-height;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
  &[width],
  &[height] {
    max-width: none;
  }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
hr, 
ul, 
ol,
dl,
address {
  margin-bottom: $base-spacing-unit;
}