/**
 * Clearing and floating
 */

.alignleft,
.float-left {
    float: left;
    img & {
        margin-right: $base-spacing-unit;
    }
}

.alignright,
.float-right {
    float: right;
    img & {
        margin-left : $base-spacing-unit;
    }
}

.aligncenter,
.float-center {
    display: block;
    margin: {
        left: auto;
        right: auto;
    }
    img & {
        margin-bottom: $base-spacing-unit;
    }
}

.clearfix {
    @extend clearfix;
}



/**
 * Text aligments
 */

.align-text-left { 
    text-align: left; 
}

.align-text-right { 
    text-align: right; 
}

.align-text-center { 
    text-align: right; 
}


/**
 * Elements visibility
 */

.visible-on-mobile {
    display: none !important;
    @include resp-max($breakpoint-sm) {
        display: block !important;
    }
}

.visible-on-tablet {
    display: none !important;
    @include resp-max($breakpoint-md) {
        display: block !important;
    }
}

.visible-on-desktop {  
    @include resp-max($breakpoint-md) {
        display: none !important;
    }
}