@use "sass:math";

/*
 * Generate breakpoint declarations
 */

@function breakpoint-declaration($size) {
    @if ($size == 'xl') {
        $value: map-get($screens, 'lg');
        @return '(min-width: ' + ($value + 1) + ')';
    } @else {
        $value: map-get($screens, $size);
        @return '(max-width: ' + ($value + 1) + ')';
    }
}

/*
 * Media query to respond to a minimum size (mobile first)
 */

@mixin resp-min($size) {
    $value: map-get($screens, $size);
    @media screen and (min-width: $value) {
        @content;
    }
}

/*
 * Media query to respond to a maximum size
 */

@mixin resp-max($size) {
    $value: map-get($screens, $size);
    @media screen and (max-width: $value) {
        @content;
    }
}


/*
 * Output font size in px/rem
 */

@mixin font-size($px) {
    font-size: $px + px;
    font-size: #{math.div($px, 16)}rem;
}


/*
 * Placeholder mixin for <input>
 */

@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}


/**
 * Clearfix
 */
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
