input, select, textarea {
	display: inline-block;
	font: inherit;
	line-height: $base-margin-bottom + px;
	padding: 4px 8px;
	color: $base-colour;
	background: $input-background;
	border: $input-border;
	width: 208px;
}

textarea {
	min-height: ($base-margin-bottom * 4) + px;
}

.form__group {
	margin-bottom: $base-margin-bottom + px;
}

.form__label {
	float: left;
	width: 140px;
}

.form__controls {
	margin-left: 160px;
	@extend .clearfix;
}

	.checkbox input {
		width: auto;
	}

.btn {
	background: $btn-background;
	border: $btn-border;
	color: $btn-color;
	cursor: pointer;
	display: inline-block;
	line-height: ($base-margin-bottom * 2) + px;
	height: ($base-margin-bottom * 2) + px;
	padding: 0 20px;
	width: auto;
	&:hover {
		background: $btn-background-hover;
	}
}