input, 
select, 
textarea {
	background: $input-background;
	border: $input-border;
	color: $base-colour;
	display: inline-block;
	font: inherit;
	line-height: $base-margin-bottom * 1px;
	padding: ($base-margin-bottom / 4) ($base-margin-bottom / 2);
	width: 208px;
}

input[type="checkbox"], 
input[type="radio"] {
	background: transparent;
	border: 0;
	width: auto;
}

textarea {
	min-height: ($base-margin-bottom * 4) * 1px;
}

.form__group {
	margin-bottom: $base-margin-bottom * 1px;
}

.form__label {
	font-weight: bold;
}

.form__controls {
	@extend .clearfix;
}

.btn {
	background: $btn-background;
	border: $btn-border;
	color: $btn-color;
	cursor: pointer;
	display: inline-block;
	line-height: ($base-margin-bottom * 2) * 1px;
	height: ($base-margin-bottom * 2) * 1px;
	padding: 0 $base-margin-bottom;
	width: auto;
	&:hover {
		background: $btn-background-hover;
	}
}