@mixin media($size) {
  @media screen and (max-width: $size)  { @content; }
}

@function calculate-rem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

@mixin font-size($size) {
  font-size: $size + px;
  font-size: calculate-rem($size);
}