img {
    max-width: 100%;
    vertical-align: top;
    &[width],
    &[height] {
        max-width: none;
    }
}


/**
 * Responsive images
 */

.is-fluid {
    display: block;
    width: 100%;
    height: auto;
}