.is-root-container {
    color: map-get($colors, 'base');
    font-family: $base-font-family;
    line-height: $base-line-height;
    text-size-adjust: none;
    @include font-size($base-font-size);
    &.menu-open {
        overflow: hidden;
    }
}

/**
 * Variables
 */

.is-root-container {
    --section-vertical-padding: 150px;
    @include resp-max($breakpoint-sm) {
        --section-vertical-padding: 55px;
    }
    &.wp-block-post-content {
        --section-vertical-padding: 75px;
    }
}