.btn {
  background-color: $base-colour;
  color: $base-background-colour;
  display: inline-block;
  height: ($base-spacing-unit * 1.5);
  line-height: ($base-spacing-unit * 1.5);
  padding: 0 $base-spacing-unit;
  text-align: center;
  width: auto;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--link {
  background-color: transparent;
  color: $base-colour;
}