@each $screen in $screens {
    $key   : nth($screen, 1);
    $value : nth($screen, 2);

    .visible-#{$key} {
        display: none;
        @include resp-max($key) {
            display: block !important;
        }
    }

    .hidden-#{$key} {
        @include resp-max($key) {
            display: none !important;
        }
    }
}
