input, select, textarea, button {
	display: inline-block;
	font-family: $baseFontStack;
	font-size: 1em;
	line-height: marginBottom + px;
	color: #222;
	padding: ($marginBottom / 2) - 1px;
	background-color: $inputBackgroundColour;
	border: solid 1px $inputBorderColour;
	@include border-radius(3px);
	margin-right: 5px;
}

.control-group {
	margin-bottom: $marginBottom + px;
}

.control-label {
	float: left;
	width: 140px;
}

.controls {
	margin-left: 160px;
}

.btn {
	display: inline-block;
	background-color: $btnBackgroundColour;
	border: solid 1px $btnBorderColour;
	padding: ($marginBottom / 2) - 1px;
	@include border-radius(3px);
	@include box-shadow(3px);
}