@mixin border-radius ($radius: 5px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	     -o-border-radius: $radius;
	        border-radius: $radius;

}

@mixin col-width ($span: 1) {
	width: ( $columnWidth * $span ) + ( ( $span - 1 ) * $columnGutter ) * 1px;
}

@mixin box-sizing ($box-model: 'border-box') {
	-webkit-box-sizing: $box-model;
       -moz-box-sizing: $box-model;
            box-sizing: $box-model;
}

@mixin box-shadow($x-axis: 0, $y-axis: 2px, $blur: 2px, $alpha: 0.1) {
	-webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	   -moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	        box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

@mixin transition($duration:0.2s, $ease:ease-out) {
	-webkit-transition: all $duration $ease;
	   -moz-transition: all $duration $ease;
	        transition: all $duration $ease;
}