.alignleft {
	float: left;
}

img.alignleft {
	margin-right: $columnGutter * 1px;
}

.alignright {
	float: right;
}

img.alignright {
	margin-left	: $columnGutter * 1px;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}