// Base

$base-colour: 							#333;
$base-background-colour: 		#fff;

$base-font-stack: 					'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 						14;
$base-line-height: 					1.5;
$base-margin-bottom: 				($base-font-size * $base-line-height);

$h1-font-size: 							28;
$h2-font-size: 							24;
$h3-font-size: 							21;
$h4-font-size: 							18;
$h5-font-size: 							16;
$h6-font-size: 							16;

// Lists

$list-margin-left:					24;

// Scaffolding

$column-gutter:							20;
$column-count:							12;
$container-max-width:				1200;

// Tables

$table-border-colour:				#ddd;

// Forms
$input-border: 							solid 1px #ccc;
$input-background:					#fff;
$btn-border:								solid 1px #ccc;
$btn-background:						#eee;
$btn-color:									#333;