.table {
	width: 100%;
	border-collapse: collapse;
}

	.table th, 
	.table td {
		text-align: left;
		vertical-align: top;
		border-top: 1px solid $table-border-colour;
		padding: ($base-margin-bottom / 2) * 1px 10px;
	}
	
	.table th {
		font-weight: bold;
		border-top: 0;
	}

	.table thead th {
	  vertical-align: bottom;
	}