html {
  background-color: $base-background-colour;
  color: $base-colour;
  font: #{($base-font-size * 6.25) * 1%}/#{$base-line-height} $base-font-stack;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
hr, 
ul, 
ol {
  margin-bottom: $base-spacing-unit;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  line-height: $base-spacing-unit;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
strong,
th {
  font-weight: bold;
}

ul, 
ol {
  margin-left: $base-spacing-unit;
}

ul ul, 
ol ol {
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

blockquote {
  font-family: serif;
  padding-left: $base-spacing-unit;
}

em {
  font-style: italic;
}

hr {
  background-color: $base-colour;
  border: 0;
  color: $base-colour;
  height: 1px;
}

table {
  width: 100%;
  th,
  td {
    padding: ($base-spacing-unit / 4);
    text-align: left;
  }
}
