input, select, textarea, button {
	display: inline-block;
	font-family: $base-font-stack;
	font-size: 1em;
	line-height: $base-margin-bottom + px;
	padding: 4px 8px;
	color: $base-colour;
	background: $input-background;
	border: $input-border;
	@include border-radius(3px);
	width: 208px;
}

textarea {
	min-height: ($base-margin-bottom * 4) + px;
}

.control-group {
	margin-bottom: $base-margin-bottom + px;
}

.control-label {
	float: left;
	width: 140px;
}

.controls {
	margin-left: 160px;
	@extend .clearfix;
}

	.checkbox input {
		width: auto;
	}

.btn {
	background: $btn-background;
	border: $btn-border;
	@include border-radius(3px);
	color: $btn-color;
	cursor: pointer;
	display: inline-block;
	line-height: $base-margin-bottom + px;
	padding: 5px 20px;
	width: auto;
	&:hover {
		background: $btn-background-hover;
	}
}