.btn {
  background-color: $base-colour;
  border: 0;
  color: $base-background-colour;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: bold;
  height: ($base-spacing-unit * 1.5);
  line-height: ($base-spacing-unit * 1.5);
  padding: 0 $base-spacing-unit;
  text-align: center;
  width: auto;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
