/**
 * Generic
 */

body {
  padding: 3rem 0;
}

a {
  color: purple;
}

.header, .footer {
  display: none;
}

.section {
  margin-bottom: 4.5rem;
}

  .section__title {
    border-bottom: solid 1px #eee;
    font-size: 2em;
    padding-bottom: 1rem;
  }


/**
 * Grid
 */

.col-inner {
  background-color: whitesmoke;
  display: block;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  text-align: center;
}

  .col-inner .col-inner {
    background-color: blue;
    color: white;
    margin-top: 1.5rem;
  }

.row--gutterless .col:nth-child(2) .col-inner {
  background-color: yellow;
}

/**
 * Responsive
 */

[class*="hidden"],
[class*="visible"] {
  background-color: whitesmoke;
  margin-bottom: 0.75rem;
  padding: 1rem;
}